{% extends "basketapp/base.html" %}

{% block content %}

<div class="content">
<div class="basket">

    <div class="user">
        <span>Пользователь:
        {% if user.is_authenticated %} {{user.username}}
        {% else %} незарегистрированный пользователь
        {% endif %}
        </span>
    </div>
    <div class="count">
        {% if all_ordered %}
        <span>Сейчас в вашей корзине: {{all_ordered|length}}
            {% if all_ordered|length == 1  %}
                товар.
            {% elif all_ordered|length|get_digit:"1" > 1 and all_ordered|length|get_digit:"1" < 5 %}
                товара.
            {% elif all_ordered|length|get_digit:"1" >= 5 %}
                товаров.
            {% endif %}
        </span>
        {% else %}
        <span>У вас нет товаров в корзине</span>
        {% endif %}
    </div>
    <div class="items">
        {% if all_ordered %}
        {% include "basketapp/inc_basket_list.html" %}

        {% endif %}

    </div>



</div>

</div>

{% endblock %}