{% extends "basketapp/base.html" %}

{% block content %}


<div class="basket">

    <h4>Пользователь: {% if user.is_authenticated %}
    {{user.username}}
    {% else %} незарегистрированный пользователь
    {% endif %}
    </h4>

    {% if all_ordered %}
    <span class="caption">Сейчас в вашей корзине:</span>
    {% include "basketapp/inc_basket_list.html" %}
    <button class="make_order"><a href="{% url 'orderapp:order_create' %}">сделать заказ</a></button>
    {% else %}
    <span class="caption2">У вас нет товаров в корзине</span>
    {% endif %}

</div>
{% endblock %}