{% extends "mainapp/base.html" %}
{% load staticfiles %}

{% block content %}

<form class="auth" action="{% url 'auth:edit' %}" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {% if avatar_vk %}
        <img class="avatar" src="{{avatar_vk}}" alt="avatar">
    {% elif user.avatar %}
        <img class="avatar" src="/media/{{user.avatar}}" alt="avatar">
    {% else %}
        <div class="default_avatar">avatar</div>
    {% endif %}

    {{ edit_form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Save</button>
    <button type="reset">Reset</button>
</form>

{% endblock %}