{% extends 'orderapp/base.html' %}

{% load staticfiles %}

{% block content %}
<div class="content">
    <div class="captions">{{object}}, {{object.created}}, {{object.get_status_display}}</div>

    <table class="orders_table">
        {% for item in object.orderitems.select_related %}
        {% if forloop.first %}
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Общая стоимость</th>
        </tr>
        {% endif %}

        <tr>

            <td>
                {{item.item.name}}
            </td>
            <td>
                {{item.item.price}}
            </td>
            <td>
                {{item.quantity}}
            </td>
            <td>
                {{item.get_item_cost}}
            </td>
        </tr>
        <tr class="empty_row"></tr>
        {% endfor %}
    </table>


    <div class="actions">
        <a href=""><button>подтвердить</button></a>
        <a href="{% url 'orders:order_update' object.pk %}"><button>редактировать</button></a>
        <a href="{% url 'orders:order_delete' object.pk %}"><button>удалить</button></a>
    </div>
</div>
{% endblock %}

