
{% extends 'orderapp/base.html' %}
{% load static %}

{% block content %}

<div class="content">
    <div class="captions">
    {% if object %}
        {{object}}, {{object.created}}, {{object.get_status_display}},
        total quantity: <span class="order_total_quantity"> {{object.get_total_quantity}}</span>
        total cost:  <span class="order_total_cost"> {{object.get_total_cost}}</span>
    {% else %}
        Создание заказа
        total quantity: <span class="order_total_quantity"> {{object.get_total_quantity}}</span>
        total cost:  <span class="order_total_cost"> {{object.get_total_cost}}</span>
    {% endif %}
    </div>

    <form class="order_form" action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        {{ orderitems.management_form }}

        <table class="orders_table">
            {% for form in orderitems.forms %}
            {% if forloop.first %}
            <tr>
                {% for field in form.visible_fields %}
                    <th>{{field.label}}</th>
                {% endfor %}
                <th class="spacer"></th>
            </tr>
            {% endif %}

            <tr>
                {% for field in form.visible_fields %}

                <td>
                    {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                    {% endif %}
                    {% if field.name != 'price' %}
                        {{field}}
                    {% else %}
                        {% if field.value %}
                            <span class="itemprice_{{forloop.parentloop.counter0}}">{{field.value}}</span>
                        {% endif %}
                    {% endif %}
                </td>
                {% endfor %}
                <td class="spacer"></td>
            </tr>
            <tr class="empty_row"></tr>
            {% endfor %}
        </table>

        <div class="actions">
            <button type="submit" value="сохранить">сохранить</button>
            <a href="{% url 'orders:order_list' %}"><button type="button">не сохранять</button></a>
        </div>
    </form>
</div>

{% endblock %}