{% extends "mainapp/base.html" %}
{% block content %}

<h3>Напишите нам</h3>
    <form action="">
        <input type="text" placeholder="Ваше имя"><br>
        <input type="email" placeholder="your@email.domain"><br>
        <textarea name="comment" id="feedback" cols="30" rows="10"></textarea><br>
        <button type="submit">Отправить</button>
        <button type="reset">Очистить</button>
    </form>

    <h3>Наши координаты:</h3>
    <ul>
        <li>тел: +7(000)000-00-00</li>
        <li>e-mail: email@geekbrains.ru</li>
        <li>адрес: г. Москва, ул. Волхонка 12</li>
    </ul>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A21626eafb4618ef9588eb7f3164eb28378926e69bca9f7599239abbf7a8e4e1c&amp;width=800&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
   </div>

{% endblock %}