<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style2.css">
    <title>Произведения великих мастеров. Каталог товаров.</title>
</head>
<body class="catalog">
    <div class="container">
    <div class="header">
    <a class="title" href="#">
        <img class="logo" src="/static/img/logo.jpg" alt="Great Masters Интернет-магазин">
        <h2>Masterpiece</h2>
    </a> 
    
    <ul class="menu">
        <li><a href="/">главная</a></li>
        <li><a href="/catalog">каталог</a></li>
        <li><a href="/contacts">контакты</a></li>
    </ul>      
   </div>
   
   <div class="content"> 
   <h3>Каталог</h3>
   <div class="items_list">
       <div class="catalog_item">
      
       <a href="items/vermeer.html">
       <div class="catalog_img">
       <img src="/static/img/525px-Jan_Vermeer_-_The_Art_of_Painting_-_Google_Art_Project.jpg" alt="Вермеер. Мастерская художника">
              </div>
       <div class="description"> Ян Вермеер. Мастерская художника</div> 
       </a>
      </div>
      
    <div class="catalog_item">
      <a href="items/VanGogh1.html">
      <div class="catalog_img">
       <img src="/static/img/vincent-van-gogh-cafe-terrace-i31055.jpg" alt="Вермеер. Мастерская художника">
          </div>
       <div class="description"> Винсент Ван Гог. Ночная терраса кафе</div> 
       </a>
    </div>
    <div class="catalog_item">
      <a href="items/modiliani_1.html">
      <div class="catalog_img">
       <img src="/static/img/Amedeo_Modigliani_044.jpg" alt="Модильяни. Портрет Мариоса Варвоглиса.">
          </div>
       <div class="description"> Амедео Модильяни. Портрет Мариоса Варвоглиса</div> 
       </a>
    </div>
   </div>
 
    </div>
   
    <div class="footer">
       <p>&copy; Все права защищены</p>
   </div>
   </div>
</body>
</html>