
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style2.css">
    <title>Интернет-магазин произведений искусства</title>
</head>
<body class="homepage">
    <div class="container">
    <div class="header">
    <a class="title" href="#">
        <img class="logo" src="static/img/logo.jpg" alt="Great Masters Интернет-магазин">
        <h2>Masterpiece</h2>
    </a> 
    
    <ul class="menu">
        <li><a href="#">главная</a></li>
        <li><a href="catalog">каталог</a></li>
        <li><a href="contacts">контакты</a></li>
    </ul>      
   </div>
   <div class="content">
      <h2>Masterpiece</h2>
       <p>Добро пожаловать в интернет-магазин Masterpiece. Здесь Вы&nbsp;можете наити картины великих мастеров разных эпох по&nbsp;самым лучшим ценам.</p>
   </div>

   <div class="footer">
       <p>&copy; Все права защищены</p>
   </div>
   </div>
    
</body>
</html>